<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="59"> -->

    <title>DocCtrl - Welcome</title>

    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet"> -->
    
    <link rel="stylesheet" type="text/css" href="css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="css/sidebar.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/header.css"/>
    <link rel="stylesheet" type="text/css" href="css/toolbar.css">
    <link rel="stylesheet" type="text/css" href="css/assignment.css"/>
    <link rel="stylesheet" type="text/css" href="css/analysis.css">
    <link rel="stylesheet" type="text/css" href="css/doclist.css">
    <link rel="stylesheet" type="text/css" href="css/popup.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_info">
                    <a href="/" class="header_logo"><img src="res/images/main/rainbow.png" alt="Logo" width="80%" height="auto"></a>
                    <a href="account">Система учета исполнения приказов кафедры ИС УГЛТУ</a>
                </div>
                <!-- <div class="header_extern">
                    Links
                </div> -->
                <nav class="header_nav">
                    <form action="#" class="header_search_box">
                        <!-- <label for="search_input">Search</label> -->
                        <input type="text" id="search_input" name="search_input">
                        <input type="submit" value="Поиск">
                    </form>
                    
                    <div class="header_auth">
                        <a href="#" class="header_login">Войти</a>
                        <a href="#" class="header_signup">Регистрация</a>
                    </div>

                    <div class="header_user" style="display: none;">
                        <a href="#" class="header_user_username">▼ Иванов И. И</a>
                        <a href="#" class="header_user_logout"> - Выйти</a>
                    </div>
                </nav>

            </div>
        </div>
    </header>

    <div class="toolbar">
        <div class="container">
            <div class="toolbar_inner">
                <div class="toolbar_edit" style="display: none;">
                    <button class="toolbar_button">В работу</button>
                    <button class="toolbar_button">Изменить</button>
                </div>
                <div class="toolbar_new_decision">
                    <button class="toolbar_button">?</button>
                </div>
            </div>
        </div>
    </div>

    <!-- sign in popup -->
    <div id="mLoginPopup" class="popup">
        <div class="popup_inner">
            <span class="popup_btn_close" title="Close">&times;</span>
            <form class="popup_wrapper" action="#">
                <h1>Вход</h1>
                <hr>
                <div class="login_username" style="display: block;">
                    <label for="loginUsername" class="popup_label"><b>Имя пользователя</b><br></label>
                    <input type="text" id="loginUsername" class="popup_text_input" placeholder="Введите имя пользователя" name="loginUsername" required>
                </div>

                <div class="login_password">
                    <label for="loginPassword" class="popup_label"><b>Пароль</b><br></label>
                    <input type="password" id="loginPassword" class="popup_text_input" placeholder="Введите пароль" name="loginPassword">
                </div>

                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Запомнить
                </label>
                <div class="popup_btn_confirmation">
                    <button type="button" class="popup_btn_cancel">Отмена</button>
                    <button type="submit" id="loginBtn" class="popup_btn_submit">Войти</button>
                </div>
            </form>
        </div>
    </div>

     <!-- sign up popup -->
    <div id="mSignUpPopup" class="popup">
        <div class="popup_inner">
            <span class="popup_btn_close" title="Close">&times;</span>
            <form class="popup_wrapper" action="#">
                <h1>Регистрация</h1>
                <p>Зарегистрируйтесь в системе, чтобы отслеживать ваши действующие приказы</p>
                <hr>

                <div class="signup_username" style="display: block;">
                    <label for="signupUsername" class="popup_label"><b>Имя пользователя</b><br></label>
                    <input type="text" id="signupUsername" class="popup_text_input" placeholder="Введите имя пользователя" name="signupUsername" required>
                </div>

                <div class="signup_email">
                    <label for="signupEmail" class="popup_label"><b>Email</b><br></label>
                    <input type="text" id="signupEmail" class="popup_text_input" placeholder="Введите e- mail" name="signupEmail">
                </div>

                <div class="signupPassword">
                    <label for="passsignupPasswordword" class="popup_label"><b>Пароль</b><br></label>
                    <input type="password" id="signupPassword" class="popup_text_input" placeholder="Введите пароль" name="signupPassword">
                </div>
                <hr>
                <div class="signup_full_name" style="display: block;">
                    <label for="signupFullname" class="popup_label"><b>ФИО</b><br></label>
                    <input type="text" id="signupFullname" class="popup_text_input" placeholder="Введите фамилию, имя и отчество" name="signupFullname" required>
                </div>

                <div class="signup_position">
                    <label for="signupPosition" class="popup_label"><b>Должность</b><br></label>
                    <input type="text" id="signupPosition" class="popup_text_input" placeholder="Введите должность" name="signupPosition" required>
                </div>

                <div class="signup_phone">
                    <label for="signupPhone" class="popup_label"><b>Номер тел.</b><br></label>
                    <input type="text" id="signupPhone" class="popup_text_input" placeholder="Введите номер тел." name="signupPhone" required>
                </div>

                <!-- <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Подписаться на новости
                </label> -->
                <p style="margin-bottom: 15px;">Отправляя заявку вы соглашаетесь на <a href="#" style="color:dodgerblue">обработку персональных данных</a>.</p>
                <div class="popup_btn_confirmation">
                    <button type="button" class="popup_btn_cancel">Отмена</button>
                    <button type="submit" id="registerBtn" class="popup_btn_submit">Регистрация</button>
                </div>
            </form>
        </div>
    </div>

    <!-- user edit popup -->

    <!-- <div id="mUserEditPopup" class="popup">
        <div class="popup_inner">
            <span class="popup_btn_close" title="Close">&times;</span>
            <form class="popup_wrapper" action="#">
                <h1>Редактирование профиля</h1>
                <hr>

                <div class="signup_username" style="display: block;">
                    <label for="username" class="popup_label"><b>Имя пользователя</b><br></label>
                    <input type="text" id="username" class="popup_text_input" placeholder="Введите имя пользователя" name="username" required>
                </div>

                <div class="signup_email">
                    <label for="email" class="popup_label"><b>Email</b><br></label>
                    <input type="text" id="email" class="popup_text_input" placeholder="Введите e- mail" name="email">
                </div>

                <div class="signup_password">
                    <label for="password" class="popup_label"><b>Пароль</b><br></label>
                    <input type="password" id="password" class="popup_text_input" placeholder="Введите пароль" name="password">
                </div>
                <hr>
                <div class="signup_full_name" style="display: block;">
                    <label for="fullname" class="popup_label"><b>ФИО</b><br></label>
                    <input type="text" id="fullname" class="popup_text_input" placeholder="Введите фамилию, имя и отчество" name="fullname" required>
                </div>

                <div class="signup_position">
                    <label for="position" class="popup_label"><b>Должность</b><br></label>
                    <input type="text" id="position" class="popup_text_input" placeholder="Введите должность" name="position" required>
                </div>

                <div class="signup_phone">
                    <label for="phone" class="popup_label"><b>Номер тел.</b><br></label>
                    <input type="text" id="phone" class="popup_text_input" placeholder="Введите номер тел." name="phone" required>
                </div>

                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Подписаться на новости
                </label>
                <p style="margin-bottom: 15px;">Отправляя заявку вы соглашаетесь на <a href="#" style="color:dodgerblue">обработку персональных данных</a>.</p>
                <div class="popup_btn_confirmation">
                    <button type="button" class="popup_btn_cancel">Отмена</button>
                    <button type="submit" id="submitBtn" class="popup_btn_submit">Готово</button>
                </div>
            </form>
        </div>
    </div> -->

    <div id="everything">

        <div id="left_sidebar">
            <nav role="navigation" class="sidebar_navigation">
                <ol class="left_sidebar_list">
                    <li class="sidebar_caption"><img src="res/images/main/home.png" style="padding-right: 16px;" alt="Главная" width="9%" height="auto">Главная</li>
                    <li class="sidebar_caption"><img src="res/images/main/tasks.png" style="padding-right: 16px;" alt="Главная" width="9%" height="auto">Управление</li>
                    <li class="sidebar_caption"><img src="res/images/main/delivery-time.png" style="padding-right: 16px;" alt="Главная" width="9%" height="auto">Отчеты</li>
                    <li class="sidebar_caption"><img src="res/images/main/file.png" style="padding-right: 16px;" alt="Главная" width="9%" height="auto">Настройки</li>
                </ol>
            </nav>
        </div>

        <div id="content">

            <section id="main_section">

                <div hidden class="mytasks">
                    <div class="container">
                        <div class="generic_inner">
                            <p>▼ Мои задания</p>
                        </div>
                    </div>
                </div>
    
                <div class="doclist">
                    <div class="container">
                        <div class="doclist_inner">
                            <p>▼ Все приказы</p>
                            <br>
                            <div class="doclist_wrapper">

                                <div class="doclist_control">
                                    <div class="doclist_selection">
                                        <button class="toolbar_button">Все приказы</button>
                                        <button class="toolbar_button">Мои приказы</button>
                                    </div>
                                    <div class="doclist_edit">
                                        <form>
                                            <button id="toolbarCreateRecordBtn" class="toolbar_button" formaction="/editing">Создать</button>
                                        </form>
                                        <!-- <button id="toolbarCreateRecordBtn" class="toolbar_button"">Создать</button> -->
                                    </div>
                                </div>
                                
                                <table id="table_records">
                                    <thead>
                                        <th style="width: 15%">Автор</th>
                                        <th style="width: 60%">Заголовок</th>
                                        <th style="width: 10%">Осталось</th>
                                        <th style="width: 20%">Дата изменения</th>
                                    </thead>
                                    <tbody id="doclist_all">

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section hidden id="control_section">
                    
                <div class="doclist">
                    <div class="container">
                        <div class="doclist_inner">
                            <p>▼ Черновики</p>
                            <br>
                            <div class="doclist_wrapper">

                                <div class="doclist_control">
                                    <div class="doclist_selection">
                                        <!-- <button class="toolbar_button">Все приказы</button>
                                        <button class="toolbar_button">Мои приказы</button> -->
                                    </div>
                                    <div class="doclist_edit">
                                        <form>
                                            <button id="toolbarDeleteAllRecordsBtn" class="toolbar_button" formaction="/editing">Удалить все</button>
                                        </form>
                                        <!-- <button id="toolbarCreateRecordBtn" class="toolbar_button"">Создать</button> -->
                                    </div>
                                </div>
                                
                                <table id="table_draft_records">
                                    <thead>
                                        <th style="width: 80%">Заголовок</th>
                                        <th style="width: 20%">Дата изменения</th>
                                    </thead>
                                    <tbody id="doclist_draft_all">

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="analysis">
                    <div class="container">
                        <div class="analysis_inner">
                            <p>▼ Прочее</p>
                            <br>
                            <p><a href="/administration">● Администрирование</a></p>
                        </div>
                    </div>
                </div>

            </section>

            <section hidden id="report_section">
    
                <div class="filter">
                    <div class="container">
                        <div class="generic_inner">
                            <p>▼ Фильтр</p>
                            <form method='POST' action="#" class="filter_wrapper">
                                <div class="generic_field">
                                    <label for="filter_start_date" class="generic_label">Дата начала</label>
                                    <input type="text" id="filter_start_date" class="medium_text_input" placeholder="Введите дату начала" name="filter_start_date" value="2021-05-31">
                                </div>

                                <div class="generic_field">
                                    <label for="filter_end_date" class="generic_label">Дата завершения</label>
                                    <input type="text" id="filter_end_date" class="medium_text_input" placeholder="Введите дату окончания" name="filter_end_date" value="2021-06-31">
                                </div>
                                <br>

                                <div class="generic_field" style="display: flex; justify-content: space-between;">
                                    <div>
                                        <input type="checkbox" id="filter_is_actual" name="filter_is_actual" style="margin-bottom:15px" checked> Действующие
                                        <input type="checkbox" id="filter_is_outdated" name="filter_is_outdated" style="margin-bottom:15px" checked> Просроченные
                                        <input type="checkbox" id="filter_is_validated" name="filter_is_validated" style="margin-bottom:15px"> Завершенные
                                    </div>
                                    <button type="button" id="filter_btn">Показать</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div hidden class="filtered_docs">
                    <div class="container">
                        <div class="doclist_inner">
                            <p id="count_label" style="display: flex;">▼ Результат</p>
                            <br>
                            <div class="doclist_wrapper">

                                <div class="doclist_control">
                                    <div class="doclist_selection">
                                        <button class="toolbar_button">Все приказы</button>
                                        <button class="toolbar_button">Мои приказы</button>
                                    </div>
                                    <div class="doclist_edit">
                                        <button id="generate_report_btn" class="toolbar_button">Сформировать отчет</button>
                                    </div>
                                </div>
                                
                                <table id="table_filtered_records">
                                    <thead>
                                        <th style="width: 15%">Автор</th>
                                        <th style="width: 60%">Заголовок</th>
                                        <th style="width: 10%">Осталось</th>
                                        <th style="width: 20%">Дата изменения</th>
                                    </thead>
                                    <tbody id="doclist_filtered_all">

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section hidden id="settings_section">

                <div class="assignment">
                    <div class="container">
                        <div class="assignment_inner">
                            <p>▼ Настройки аккаунта</p>
                        </div>
                    </div>
                </div>
    
                <div class="contact_data">
                    <div class="container">
                        <div class="generic_inner">
                            <p>▼ Контактные данные</p>
                        </div>
                    </div>
                </div>

            </section>
            
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="footer_inner">
                <div class="footer_logo">
                    <a href="/"><img src="res/images/main/logo.png" alt="Logo" width="100%" height="auto"></a>
                </div>
                <div class="footer_nav">
                    <!-- Footer section -->
                </div>
                <div class="footer_copyright">
                    <ul class="footer_extern">
                        <li class="footer_extern_item"><a href="#" class="footer_extern_link">Blog</a></li>
                        <li class="footer_extern_item"><a href="#" class="footer_extern_link">VK</a></li>
                        <li class="footer_extern_item"><a href="#" class="footer_extern_link">Facebook</a></li>
                        <li class="footer_extern_item"><a href="#" class="footer_extern_link">Reddit</a></li>
                        <li class="footer_extern_item"><a href="#" class="footer_extern_link">Youtube</a></li>
                    </ul>
                    <ul class="footer_about">
                        <p class="footer_about_elem">Copyright</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/index.js"></script>
</html>