<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="59"> -->

    <title>Добро пожаловать</title>

    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet"> -->
    
    <link rel="stylesheet" type="text/css" href="css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="css/sidebar.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/header.css"/>
    <link rel="stylesheet" type="text/css" href="css/toolbar.css">
    <link rel="stylesheet" type="text/css" href="css/assignment.css"/>
    <link rel="stylesheet" type="text/css" href="css/analysis.css">
    <link rel="stylesheet" type="text/css" href="css/doclist.css">
    <link rel="stylesheet" type="text/css" href="css/popup.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_info">
                    <a href="/" class="header_logo"><img src="res/images/main/rainbow.png" alt="Logo" width="80%" height="auto"></a>
                    <a href="#">Система учета исполнения приказов кафедры ИС УГЛТУ</a>
                </div>
                <!-- <div class="header_extern">
                    Links
                </div> -->
                <nav class="header_nav">
                    <form action="#" class="header_search_box">
                        <!-- <label for="search_input">Search</label> -->
                        <input type="text" id="search_input" name="search_input">
                        <input type="submit" value="Поиск">
                    </form>
                    
                    <div id="headerAuth" class="header_auth">
                        <a href="/login" class="header_login">Войти</a>
                        <a href="/signup" class="header_signup">Регистрация</a>
                    </div>

                    <div hidden id="headerUser" class="header_user">
                        <a href="/account" id="headerUserUsername" class="header_user_username">▼ Иванов И. И</a>
                        <a href="/logout" class="header_user_logout"> - Выйти</a>
                    </div>
                </nav>

            </div>
        </div>
    </header>

    <div class="toolbar">
        <div class="container">
            <div class="toolbar_inner">
                <div class="toolbar_edit" style="display: none;">
                    <button class="toolbar_button">В работу</button>
                    <button class="toolbar_button">Изменить</button>
                </div>
                <div class="toolbar_new_decision">
                    <button class="toolbar_button">?</button>
                </div>
            </div>
        </div>
    </div>

    <div id="everything">

        <div id="left_sidebar">
            <nav role="navigation" class="sidebar_navigation">
                <ol class="left_sidebar_list">
                    <li class="sidebar_caption"><img src="res/images/main/home.png" style="padding-right: 16px;" alt="Главная" width="9%" height="auto">Главная</li>
                    <li class="sidebar_caption"><img src="res/images/main/tasks.png" style="padding-right: 16px;" alt="Главная" width="9%" height="auto">Управление</li>
                    <li class="sidebar_caption"><img src="res/images/main/delivery-time.png" style="padding-right: 16px;" alt="Главная" width="9%" height="auto">Отчеты</li>
                    <li class="sidebar_caption"><img src="res/images/main/file.png" style="padding-right: 16px;" alt="Главная" width="9%" height="auto">Настройки</li>
                </ol>
            </nav>
        </div>

        <div id="content">

            <section id="main_section">

                <div hidden class="mytasks">
                    <div class="container">
                        <div class="generic_inner">
                            <p>▼ Мои задания</p>
                        </div>
                    </div>
                </div>
    
                <div class="doclist">
                    <div class="container">
                        <div class="doclist_inner">
                            <p>▼ Все записи</p>
                            <br>
                            <div class="doclist_wrapper">

                                <div class="doclist_control">
                                    <div class="doclist_selection">
                                        <button class="toolbar_button">Все записи</button>
                                        <button class="toolbar_button">Мои записи</button>
                                    </div>
                                    <div class="doclist_edit">
                                        <form>
                                            <button id="toolbarCreateRecordBtn" class="toolbar_button" formaction="/editing">Создать</button>
                                        </form>
                                        <!-- <button id="toolbarCreateRecordBtn" class="toolbar_button"">Создать</button> -->
                                    </div>
                                </div>
                                
                                <table id="table_records">
                                    <thead>
                                        <th style="width: 15%">Исполнитель</th>
                                        <th style="width: 50%">Заголовок</th>
                                        <th style="width: 10%">Статус</th>
                                        <th style="width: 15%">Номер</th>
                                        <th style="width: 10%">Дата</th>
                                    </thead>
                                    <tbody id="doclist_all">

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section hidden id="control_section">
                    
                <div class="doclist">
                    <div class="container">
                        <div class="doclist_inner">
                            <p>▼ Черновики</p>
                            <br>
                            <div class="doclist_wrapper">

                                <div class="doclist_control">
                                    <div class="doclist_selection">
                                        <!-- <button class="toolbar_button">Все записи</button>
                                        <button class="toolbar_button">Мои записи</button> -->
                                    </div>
                                    <div class="doclist_edit">
                                        <form>
                                            <button id="toolbarDeleteAllRecordsBtn" class="toolbar_button" formaction="/editing">Удалить все</button>
                                        </form>
                                        <!-- <button id="toolbarCreateRecordBtn" class="toolbar_button"">Создать</button> -->
                                    </div>
                                </div>
                                
                                <table id="table_draft_records">
                                    <thead>
                                        <th style="width: 80%">Заголовок</th>
                                        <th style="width: 20%">Дата изменения</th>
                                    </thead>
                                    <tbody id="doclist_draft_all">

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section hidden id="report_section">
    
                <div class="filter">
                    <div class="container">
                        <div class="generic_inner">
                            <p>▼ Фильтр</p>
                            <form method='POST' action="#" class="filter_wrapper">
                                <div class="generic_field" style="display: flex; justify-content: space-between;">
                                    <div>
                                        <input type="checkbox" id="filter_is_actual" name="filter_is_actual" style="margin-bottom:15px" checked> Действующие
                                        <input type="checkbox" id="filter_is_outdated" name="filter_is_outdated" style="margin-bottom:15px"> Просроченные
                                    </div>
                                    <button type="button" id="filter_btn">Показать</button>
                                </div><hr>

                                <div class="generic_field">
                                    <label for="criteria" class="generic_label">Категория:</label>
                                    <select id="category">
                                        <option value="Приказ">Приказ</option>
                                        <option value="Служебная записка">Служебная записка</option>
                                    </select>
                                </div>

                                <div class="generic_field">
                                    <label for="criteria" class="generic_label">Вид документа:</label>
                                    <select id="kind">
                                        <option value="На практику">На практику</option>
                                        <option value="Утверждение тем ВКР">Утверждение тем ВКР</option>
                                        <option value="Другой">Другой</option>
                                    </select>
                                </div>

                                <div class="generic_field">
                                    <label for="criteria" class="generic_label">Статус:</label>
                                    <select id="status">
                                        <option value="Проект">Проект</option>
                                        <option value="Не начато">Не начато</option>
                                        <option value="Не обработан">Не обработано</option>
                                        <option value="Не подписано">Не подписано</option>
                                        <option value="Подписан">Подписан</option>
                                        <option value="Издан">Издан</option>
                                        <option value="Исполнен">Исполнен</option>
                                    </select>
                                </div><br><hr>
                                <div class="generic_field">
                                    <label for="filter_start_date" class="generic_label">Диапазон: начало</label>
                                    <input type="text" id="filter_start_date" class="medium_text_input" placeholder="Введите дату начала" name="filter_start_date" value="2020-01-31">
                                </div>

                                <div class="generic_field">
                                    <label for="filter_end_date" class="generic_label">Диапазон: конец</label>
                                    <input type="text" id="filter_end_date" class="medium_text_input" placeholder="Введите дату окончания" name="filter_end_date" value="2030-01-31">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div hidden class="filtered_docs">
                    <div class="container">
                        <div class="doclist_inner">
                            <p id="count_label" style="display: flex;">▼ Результат</p>
                            <br>
                            <div class="doclist_wrapper">

                                <div class="doclist_control">
                                    <div class="doclist_selection">
                                        <button class="toolbar_button">Все записи</button>
                                        <button class="toolbar_button">Мои записи</button>
                                    </div>
                                    <div class="doclist_edit">
                                        <button id="generate_report_btn" class="toolbar_button">Сформировать отчет</button>
                                    </div>
                                </div>
                                
                                <table id="table_filtered_records">
                                    <thead>
                                        <th style="width: 15%">Исполнитель</th>
                                        <th style="width: 50%">Заголовок</th>
                                        <th style="width: 10%">Статус</th>
                                        <th style="width: 15%">Номер</th>
                                        <th style="width: 10%">Дата</th>
                                    </thead>
                                    <tbody id="doclist_filtered_all">

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section hidden id="settings_section">

                <div class="assignment">
                    <div class="container">
                        <div class="assignment_inner">
                            <p>▼ Настройки аккаунта</p>
                        </div>
                    </div>
                </div>
    
                <div class="contact_data">
                    <div class="container">
                        <div class="generic_inner">
                            <p>▼ Контактные данные</p>
                        </div>
                    </div>
                </div>

                <div class="analysis">
                    <div class="container">
                        <div class="analysis_inner">
                            <p>▼ Прочее</p>
                            <br>
                            <p><a href="/administration">● Администрирование</a></p>
                        </div>
                    </div>
                </div>

            </section>
            
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="footer_inner">
                <div class="footer_logo">
                    <a href="/"><img src="res/images/main/logo.png" alt="Logo" width="100%" height="auto"></a>
                </div>
                <div class="footer_nav">
                    <!-- Footer section -->
                </div>
                <div class="footer_copyright">
                    <ul class="footer_extern">
                        <li class="footer_extern_item"><a href="#" class="footer_extern_link">Blog</a></li>
                        <li class="footer_extern_item"><a href="#" class="footer_extern_link">VK</a></li>
                        <li class="footer_extern_item"><a href="#" class="footer_extern_link">Facebook</a></li>
                        <li class="footer_extern_item"><a href="#" class="footer_extern_link">Reddit</a></li>
                        <li class="footer_extern_item"><a href="#" class="footer_extern_link">Youtube</a></li>
                    </ul>
                    <ul class="footer_about">
                        <p class="footer_about_elem">Copyright</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/index.js"></script>
</html>