.general_inner,
.clauses_inner,
.files_inner,
.owners_inner {
    padding: 5mm;
}

.general_label {
    width: 150px;
}

.general_text_input {
    width: 30%;
    /* padding: 0.8em; */
}

.general_field {
    display: flex;
    justify-content: left;
    padding-top: 3mm;
}

.area_input {
    /* height: 10em; */
    width: 85%
}

#file-input {
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    filter: alpha(opacity=0); /* IE < 9 */
    opacity: 0;
  }

.input-label {
    display: inline-block;
    vertical-align: top;
    /* height: 1.7em; */
    /* margin-top: 50px; */
    padding: 15px;
    border: 1px solid #888888;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.5s;
    border: opacity 1px;
    cursor: pointer;
}

.clauses_control,
.files_control,
.approvers_control,
.owners_control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0.5em;
    background: rgb(220, 220, 220);
    border-radius: 5px;
}

.popup_addclause,
.popup_addfile,
.popup_addapprover,
.popup_addowner {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
  }

.popup_addclause_inner,
.popup_addfile_inner,
.popup_addapprover_inner,
.popup_addowner_inner {
    background-color: #fefefe;
    margin: auto;
    border: 2px solid rgb(143, 201, 255);
    border-radius: 5px;
    width: 600px;
}

.popup_addclause_wrapper,
.popup_addfile_wrapper,
.popup_addapprover_wrapper,
.popup_addowner_wrapper {
    margin: 5px;
    padding: 15px;
    color: black;
  }

.popup_btn_close {
    color: #aaaaaa;
    float: right;
    padding-right: 15px;
    font-size: 36px;
    font-weight: bold;
}

.popup_btn_close:hover,
.popup_btn_close:focus {
    color: rgb(143, 201, 255);
    text-decoration: none;
    cursor: pointer;
}

.popup_search_input {
    padding: 0.8em;
    /* margin-bottom: 15px; */
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;

    width: 95%;
}

.query_row:hover {
    color: blue;
    cursor: pointer;
}