body {
    /*margin: 0;*/
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    /* color: white; */
    background: rgb(220, 220, 220);
}

p {
    margin: 0 auto;
}

h2 {
    color: rgb(212, 144, 104);
    margin: 0 auto;
}

h3 {
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

select {
    width: 25%;
    border: 1px solid #888888;
    border-radius: 5px;
    border: opacity 1px;
}

#everything {
    display: flex;
    justify-content: space-between;
    /*width: 100%;*/
    max-width: 1280px;
    /*margin: 2mm auto 0;*/
    margin: 0 auto;
}

#content {
    width: 100%;
}

.container {
    background-color: white;
    margin-top: 2mm;
    border-radius: 5px;
}

button,
input[type="button"] {
    display: inline-block;
    vertical-align: top;
    height: 1.7em;
    /* margin-top: 50px; */
    /* padding: 15px; */
    border: 1px solid #888888;
    border-radius: 5px;
    text-decoration: none;
    /* color: #fb6d3e; */
    /* background: rgba(255, 255, 255, 0); */
    font-weight: 600;
    transition: 0.5s;
    border: opacity 1px;
    cursor: pointer;
}

button:hover,
input[type="button"]:hover {
    /* color: white; */
    background: rgb(143, 201, 255);
    transition: 0.2s;
    border: opacity 0.5px;
}

input[type="text"],
input[type=password],
textarea {
    border: 1px solid #888888;
    border-radius: 5px;
    /* height: 18px; */
}

textarea {
    font-family: "Raleway", sans-serif;
    resize: none;
}

input[type="submit"] {
    border: 1px solid #888888;
    border-radius: 5px;
    /* height: 18px; */
}

table {
    margin: 0 auto;
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    /* border: 1px solid #AAAAAA; */
    /* background: rgb(220, 220, 220); */
    /* border-radius: 5px;  */
    font-weight: 400;
}

td {
    padding: 5px;
}

th {
    background: white;
    text-align: left;
    padding: 8px 5px 8px 5px;
    color:#666666;
    text-decoration: underline;
}

tr:nth-child(even) {
    background: white;
}
tr:nth-child(odd) {
    background: rgb(220, 220, 220);
}

.delete_row_btn {
    margin: 0 auto;
}

/* default settings of the sections */

.generic_inner {
    padding: 5mm;
}

.generic_label {
    width: 150px;
}

.medium_text_input {
    width: 30%;
}

.generic_field {
    display: flex;
    justify-content: left;
    padding-top: 3mm;
}